NEXT_PUBLIC_BASEURL=http://...
NEXT_PUBLIC_TERMS_FILENAME=terms.txt
NEXT_PUBLIC_BACKEND_URL=https://...
NEXT_PUBLIC_BACKEND_CONFIRMATION_PATH=auth/sign-up/confirm
NEXT_PUBLIC_FRONTEND_TOKEN_KEY=hashed_token
NODE_TLS_REJECT_UNAUTHORIZED=0
